@font-face {
    font-family: 'SansPro';
    src: url("../../fonts/sourcesanspro-regular.eot");
    src: url("../../fonts/sourcesanspro-regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/sourcesanspro-regular.woff") format("woff"), url("../../fonts/sourcesanspro-regular.ttf") format("truetype"), url("../../fonts/sourcesanspro-regular.otf") format("otf"), url("../../fonts/sourcesanspro-regular.svg#webfont") format("svg");
}

.block, .benefit-policies-general .carrier-certificate-content, .benefit-policies-general ul.benefits-summery-links li, .benefit-policies-general ul.payroll-services, .benefit-policies-general .list-title-adjustment {
    display: block;
    overflow: hidden;
}

.in-block {
    display: inline-block;
    overflow: hidden;
}

.benefit-policies-general {
    /*******************************************************************************************************************
                                              css outside data moved to inside
    *********************************************************************************************************************/
}

.benefit-policies-general .modal {
    margin: 0 auto;
    width: 900px;
}

.benefit-policies-general .title-block-active {
    background: #0073CF !important;
    color: #ffffff !important;
}

.benefit-policies-general h2 {
    padding: 0px !important;
}

.benefit-policies-general .content-block {
    max-width: 100% !important;
    min-width: 600px !important;
    display: block;
    background-color: #ffffff;
    overflow: visible;
    float: left;
    width: 100%;
}

.benefit-policies-general .content-block button {
    margin-top: 16px;
}

.benefit-policies-general .content-block .content-main {
    margin: 32px 0 24px 0;
    color: #0039A6;
    font-size: 16px;
    font-weight: 600;
}

.benefit-policies-general .content-block a {
    text-decoration: none;
}

.benefit-policies-general .row-top-margin {
    margin: 30px 0 0 0;
}

.benefit-policies-general .column-pad {
    padding-left: 0;
    padding-right: 4px;
    padding-bottom: 4px;
}

.benefit-policies-general .title-block {
    cursor: pointer;
    background: #f2f2f2;
    padding: 10px 14px;
    height: 110px;
}

.benefit-policies-general .title-block:hover {
    background: #0073CF;
    color: #ffffff;
}

.benefit-policies-general .title-block:hover h4, .benefit-policies-general .title-block:hover p {
    color: #ffffff;
}

.benefit-policies-general .title-block h4 {
    color: #0073CF;
}

.benefit-policies-general .title-block p {
    color: #888888;
    height: 50px;
    font-size: 12px;
    overflow: hidden;
}

.benefit-policies-general title-block.title-block-active h4, .benefit-policies-general title-block.title-block-active p {
    color: #FFFFFF;
}

.benefit-policies-general .title-img {
    border: 1px solid #888888;
    text-align: center;
    padding: 22px;
    height: 80px;
    position: relative;
}

.benefit-policies-general .title-img:hover {
    background: #D9EAF8;
    border: 1px solid #0073CF;
}

.benefit-policies-general .img-pad {
    padding-left: 0;
    padding-right: 4px;
}

.benefit-policies-general .title-margin {
    margin: 4px 0 0 0;
}

.benefit-policies-general .general-info {
    margin-left: 5px;
    margin-right: 5px;
}

.benefit-policies-general .general-info .general {
    margin-top: 32px;
    font-weight: 600;
    font-size: 24px;
    /*border-bottom:1px solid $Trinet-gray;*/
}

.benefit-policies-general .bottom-marg {
    margin-bottom: 32px;
}

.benefit-policies-general i.icon-icon_file {
    line-height: 2;
    padding-right: 10px;
    font-size: 16px;
    color: #D55C19;
}

.benefit-policies-general .top-button {
    position: fixed;
    bottom: 15px;
    left: 1100px;
}

.benefit-policies-general .top-button a {
    text-decoration: none;
}

.benefit-policies-general .top-button span {
    line-height: 0;
    color: #D55C19;
}

.benefit-policies-general .top-button label {
    font-size: 12px !important;
    display: block;
    color: #D55C19;
    line-height: 0;
}

.benefit-policies-general #accordion .panel {
    border-radius: 0px;
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.05) !important;
    -box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.05) !important;
}

.benefit-policies-general #accordion .panel-heading {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.benefit-policies-general .panel-default {
    border: none;
}

.benefit-policies-general .panel-title {
    color: #494949;
    font-weight: bold;
}

.benefit-policies-general .panel-body-background {
    /*padding:($padding*2)+4  $padding+6;*/
    border-top: 0px !important;
}

.benefit-policies-general .panel-body-background ul {
    padding-top: 0px;
}

.benefit-policies-general .panel-body-background ul li {
    background: #f2f2f2;
    margin-top: 4px;
    padding-left: 5px;
    color: #0039A6;
    font-size: 16px;
    font-weight: 400;
}

.benefit-policies-general .panel-body-background ul li a {
    color: #0039A6;
    padding: 5px 0;
}

.benefit-policies-general .panel-body-background ul li a .icon-icon_pdf:hover {
    text-decoration: none !important;
}

.benefit-policies-general .panel-body-background ul li a span {
    color: #494949 !important;
    font-size: 16px;
    font-weight: 400;
}

.benefit-policies-general .panel-body-background ul li a span:hover {
    text-decoration: underline;
}

.benefit-policies-general .fourth-panel ul li {
    padding: 10px;
    margin-top: 10px;
    min-height: 70px;
}

.benefit-policies-general .fourth-panel ul li:nth-of-type(even) {
    background: #ffffff;
}

.benefit-policies-general .fourth-panel ul li .circle-icon {
    font-size: 10px !important;
    margin-right: 10px;
}

.benefit-policies-general .fourth-panel #accordion-example #modalcollapseOne .no-border {
    border-right: none !important;
}

.benefit-policies-general table.medical-aetna thead {
    background: #0073CF;
}

.benefit-policies-general table.medical-aetna thead tr th {
    background: #0073CF;
}

.benefit-policies-general table.medical-aetna thead tr td a {
    text-decoration: underline;
    color: #0073CF;
}

.benefit-policies-general .hasSelectedItem .gridder-list.selectedItem .title-block {
    background: #0073CF;
}

.benefit-policies-general .hasSelectedItem .gridder-list.selectedItem .title-block h4 {
    color: #fff;
}

.benefit-policies-general .policies-headline h3 {
    color: #494949;
    font-size: 30px;
    font-weight: 600;
}

.benefit-policies-general .table-striped-even > tbody > tr:nth-of-type(even) {
    background-color: #f9f9f9;
}

.benefit-policies-general .policies-data {
    position: relative;
    top: -61px;
}

.benefit-policies-general table.general-info-table tbody tr td, .benefit-policies-general table.general-info-table thead tr th {
    font-size: 14px;
}

.benefit-policies-general .policies-table {
    border: 1px solid #7FBAEC;
}

.benefit-policies-general .policies-table .head {
    width: 380px;
    color: #0073CF;
    padding: 5px;
    background-color: #ebf1f6;
}

.benefit-policies-general .policies-table .head tbody tr td:nth-child(1) {
    border-bottom: 1px solid #EFEBEB;
    border-right: 1px solid #EFEBEB;
}

.benefit-policies-general .policies-table .head tbody tr td:nth-child(2) {
    border-bottom: 1px solid #EFEBEB;
    border-left: 1px solid #EFEBEB;
}

.benefit-policies-general .policies-table
.policies-table tbody tr
.policies-forms input[type="checkbox"] {
    margin: 0;
    padding: 0;
    position: relative;
    top: 12px;
    margin-left: 10px;
}

.benefit-policies-general .additional-policies h3 {
    font-size: 18px;
    font-weight: 600;
}

.benefit-policies-general .additional-policies a {
    color: #E37222;
    font-weight: 600;
    font-size: 14px !important;
}

.benefit-policies-general .additional-policies label {
    font-size: 14px !important;
}

.benefit-policies-general #stats li {
    list-style-type: disc !important;
}

.benefit-policies-general .listStyle li {
    list-style-type: circle;
    color: none;
    background-color: none;
}

.benefit-policies-general .bullet {
    display: list-item;
    list-style: disc inside;
    padding: 0 0 0 10px;
    margin: 0;
}

.benefit-policies-general .print {
    border: none;
    background-color: transparent;
    font-size: 15px;
}

.benefit-policies-general .print span {
    font-size: 25px;
    position: relative;
    top: 5px;
}

.benefit-policies-general .inline {
    display: inline;
}

.benefit-policies-general .maillink {
    display: inline;
    text-decoration: underline !important;
    color: #0073D4;
    font-weight: 700;
    font-style: italic;
}

.benefit-policies-general .carrier-certificate-content p {
    font-size: 14px;
    font-weight: 400;
}

.benefit-policies-general .caption {
    font-size: 16px;
    font-weight: 600 !important;
}

.benefit-policies-general ul.benefits-summery-links li a {
    text-decoration: none;
    padding: 5px;
    float: left;
    width:100%;
}

.benefit-policies-general ul.benefits-summery-links li a:hover {
    text-decoration: underline;
}

.benefit-policies-general ul.benefits-summery-links li .grey-data {
    color: #888888 !important;
}

.benefit-policies-general ul.disc {
    padding: 0;
}

.benefit-policies-general ul.disc li {
    padding: 0;
    list-style: disc !important;
    margin: 0;
    color: #494949;
    background: none;
    list-style-position: inside;
}

.benefit-policies-general .policies-info-box {
    border: #E3E3E3 1px solid;
    margin-top: 20px;
    padding: 0px 16px 16px 16px;

}

.benefit-policies-general ol.state-ordered-list {
    padding-left: 50px;
}

.benefit-policies-general ol.state-ordered-list li {
    list-style-type: upper-hexadecimal;
    list-style-position: inside;
}

.benefit-policies-general .metlife-benefits-list {
    display: block;
}

.benefit-policies-general .metlife-benefits-list ul {
    padding-left: 50px;
}

.benefit-policies-general .metlife-benefits-list ul li {
    list-style: none;
    display: list-item;
    padding-left: 10px;
    float: left;
    width: 100%;
    padding: 10px;
}

.benefit-policies-general .metlife-benefits-list ul .title {
    font-weight: 600;
}

.benefit-policies-general table.vertical tbody tr td {
    vertical-align: middle;
}

.benefit-policies-general .b2t {
    font-size: 50px;
    cursor: pointer;
}

.benefit-policies-general .tooltip-right-content {
    display: none !important;
}

.benefit-policies-general .tooltip-right:hover .tooltip-right-content {
    display: inline !important;
}

.benefit-policies-general .arrow-up {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 12px solid #f2f2f2;
    position: absolute;
    top: 9px;
    left: 135px;
}

.benefit-policies-general .arrow-up-2 {
    width: 0;
    height: 0;
    border-left: 19px solid transparent;
    border-right: 19px solid transparent;
    border-bottom: 13px solid #FFFFFF;

}

.benefit-policies-general .benefit-text {
    color: #0073CF !important;
}

.benefit-policies-general ul.payroll-services li {
    background: none !important;
    color: #494949 !important;
}

.benefit-policies-general .title-block.title-block-active h4 {
    color: #ffffff !important;
}

.benefit-policies-general .title-block.title-block-active p {
    color: #ffffff !important;
}

.benefit-policies-general .trinet-primary-color {
    color: #494949 !important;
}

.benefit-policies-general .list-title-adjustment {
    background: #ffffff;
    color: #494949 !important;
    position: relative;
    left: -10px;
    padding-bottom: 5px;
}

.benefit-policies-general .print .value {
    position: relative;
    top: 4px !important;
    font-size: 16px;
    marginleft: 5px;
}

.benefit-policies-general .top-5 {
    position: relative;
    top: 5px !important;
}

.benefit-policies-general .trinet-grey {
    color: #494949;
}

.benefit-policies-general .cobra {
    margin-left: 155px !important;
}

.benefit-policies-general .tablefix {
    width: 675px;
    margin-left: 16%;
}

.benefit-policies-general .magr-left-25 {
    margin-left: 25px;
}

.benefit-policies-general .SummaryPlanDescriptionId h5 {
    float: left;
    padding: 8px 0;
}

.benefit-policies-general .SummaryPlanDescriptionId .panel-heading {
    padding: 0 15px !important;
}

.benefit-policies-general .benefits-accord-open-size-restrict {
    max-height: 500px;
    overflow: auto;
    width: 100%;
}

.benefit-policies-general .policies-sub-data p {
    margin-left: 15px !important;
}

.benefit-policies-general .policies-sub-data .left-gap-list {
    margin-left: 45px !important;
}

.benefit-policies-general accordion h4 a {
    padding: 5px 0;
}

.emp-assign-pln-pdf-adj tbody tr td a [class^="icon-"] {
    padding-top: 3px;
}

.panel-title a:hover {
    text-decoration: none;
}

.sponserDataService a {
    display: inline;
}

.metlifeVoltService ul {
    margin: 10px 0 !important;
}

.metlifeVoltService ul li {
    background: none !important;
    list-style: initial !important;
    color: #333333 !important;
    font-size: 14px !important;
}

.other-relInfo {
    margin: 29px -7px;
}

.otherinfo-block .row {
    margin: 0px 7px !important;
}

.panel-expand {
    height: 70px;
    overflow: hidden;
    margin-bottom: 20px;
}

.learnMoreStatic {
    height: auto;
}

.row .policies-data .move-top {
    position: relative;
    top: -177px;
}

.aflacDis {
    display: inline-block;
    margin-top: 7px;
    padding-left: 5px;
}

.border-btm-heading {
    border-bottom: 1px solid #888888;
}

#currentPanel .glyphicon {
    position: relative;
    top: -7px !important;
    display: inline-block;
}

.benf-resource-35 {
    margin-top: 35px;
}

.adjust-plan-pdf {
    line-height: 16px;
    margin-top: -2px;
}

#acaMarketPlace .policies-forms li input[type="checkbox"] {
    top: 12 !important;
}

.trient-benefits-head {
    margin: 14px 0px 5px 0px !important;
}

.trient-resource-head {
    margin: -11px 0px 5px -2px !important;
}

.benefit-policies-general .title-img img {
    margin: 0 auto;
}

.benefit-title .general-info .general {
    border: 0;
}

#tab5 .benefit-title .trient-benefits-head {
    color: #333;
}

#tab5 .benefit-title .employee-handbook {
    position: relative;
    top: 14px;
}

#printCurrentBenf .you_curr {
    color: #333;
    font-size: 24px !important;
    font-weight: 600;
    border-bottom: 1px solid #B5B5B5 !important;
}

.benform-masstile {
    left: 0px !important;
    bottom: 90px !important;
}

/*# sourceMappingURL=policesgeneral-benefits.css.map */

.policies-info-box-tiles-adjustment {
    position: relative;
    top: -69px;
    background: #fff;
    border: 1px solid #b5b5b5;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 12px solid #888;
}

.arrow-up-2 {
    width: 0;
    height: 0;
    border-left: 19px solid transparent;
    border-right: 19px solid transparent;
    border-bottom: 12px solid #FFFFFF;
    position: relative;
    left: -39px;
    top: 1px;

}

.policies-info-box-tiles-adjustment-arrow-adj {
    position: relative;
    top: -80px;
    z-index: 99999;
}

.company-policies-selected .title-block h4 {
    height: 40px;
}

#acaMarketPlace span.icon-print-size {
    font-size: 22px !important;
    position: relative;
    top: 2px;
    padding-right: 5px;
}

.acamarket-text-par {
    padding-left: 5px;
    position: relative;
    top: 8px;
}
.benefit-policies-general .benefits-accord-open-state{
    overflow: auto;
    width: 100%;
}
.top-post-value{
    top:0px !important;
}
#statePanPage table thead tr td{font-weight:600;text-transform: capitalize;}
.adj-polices-genaral .list-title-adjustment {
  position: relative;
  left: 0 !important;
}
.adj-polices-genaral .panel-body-background ul li {
  background: none;
}
.adj-polices-genaral .panel-body-background ul li .adj-PlansAndCarrier {
  margin: 2px 0;
  background: #f2f2f2;
  font-size: 16px;
  padding: 7px 0;
}
.adj-polices-genaral .panel-body-background ul li .adj-PlansAndCarrier a {
  color: #494949;
  display: inline;
}
.adj-polices-genaral .panel-body-background ul li .adj-PlansAndCarrier a:hover {
  text-decoration: underline !important;
}
.adj-polices-genaral .panel-body-background ul li .adj-PlansAndCarrier span {
  color: #888888 !important;
}
.adj-polices-genaral .panel-body-background ul li #buildmaintain {
  display: block;
  background: #f2f2f2;
   color: #494949;
}
.adj-polices-genaral .panel-body-background ul li #buildmaintain:hover{
  text-decoration: underline !important;
}
.adj-polices-genaral .panel-body-background ul li .tooltip-right {
  left: -13px;
  top: -5px;
}
.adj-polices-genaral .adj-benfitGuideBook li{
  margin: 2px 0;
  background:#f2f2f2 !important;
  font-size: 16px;
  padding: 7px 0;
}
.bullet-points ul{
    padding-left:35px !important;
}
.bullet-points ul li{
    list-style-type: disc !important;
}
.adjTolltipBenfitSummary{  min-width:600px !important;left:-300px !important;}
.adjTolltipBenfitSummary .arrow-down{left:51% !important;}
.adjTolltipBenfitSummary .arrow-down-bg{left:51.2% !important;}

.benfitsAdjustTabelStriped .table-striped tbody tr:nth-child(odd) {
  background-color: #f2f2f2 !important;
}
.benfitsAdjustTabelStriped .table-striped tbody tr:nth-child(even) {
  background-color: #ffffff !important;
}
