<!--
Description: This is first page of benefits policies which will displays information to user about benefits policies.
 -->

<div class="manage-forms  benefit-policies-general comp-pol" id="companypoliciesId">

    <alert-view></alert-view>
    <div data-ng-repeat="cmpPolicies in companyPoliciesData">
        <div class="row no-marg">
            <div class="col-md-8 col-md-8 marg-top" id="header-bar">
                <h2>{{::cmpPolicies.title}}</h2>
            </div>
        </div>
        <div class=" benefit-policies-general" id="cmpPoliciesId">
            <div ng-if="cmpPolicies.pdfs.length === 0" class="myfield-content noborder">
                <div class="noHomeaddress justCenter">
                    <h3 class="no-marg"> No {{::cmpPolicies.title}}</h3>
                </div>
            </div>
            <div class="row row-top-margin row-pad">
                <div ng-if="cmpPolicies.pdfs.length !== 0" data-ng-repeat="cmpData in cmpPolicies.pdfs">
                    <!-- tile template {{cmpData}}-->
                    <div id="{{cmpData.label |  lowercase}}ID" ng-if="cmpData.label !=='Benefits Guidebook' && cmpData.label !== 'Terms and Conditions Agreement'"
                         class="col-md-4 column-pad tile company-policies-selected"
                            >
                        <a href="{{cmpData.url | contentUrl}}" target="_blank">
                            <div class="title-block col-md-12 ben-form-tiles"
                                 id="{{cmpData.label}}">
                                <h4>{{::cmpData.label}}</h4>

                                <p class="content-text">{{::cmpData.desc}}</p>
                            </div>
                        </a>
                    </div>
                    <div id="{{cmpData.label}}benefits" ng-if="cmpData.label ==='Benefits Guidebook' || cmpData.label == 'Terms and Conditions Agreement'"
                         class="col-md-4 column-pad tile company-policies-selected"
                         ng-click="selectTab($index+1, cmpData,cmpPolicies.pdfs)"
                            >

                        <div class="title-block col-md-12 ben-form-tiles" ng-class="{'active': $index+1 == tab}"
                             id="{{cmpData.label}}benefitsId">
                            <h4>{{::cmpData.label}}</h4>

                            <p class="content-text">{{::cmpData.desc}}</p>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row policies-data no-pad" id="guidebook_section">
        <div class="col-md-12 no-pad">

            <div class="content-block no-pad tilePanel" id="nav3"
                 ng-if="tileData.label =='Benefits Guidebook' && tab !== 0 ">
  <!--              <div class="col-md-12 no-pad">
                    <div class="col-md-4 text-center "><span class="arrow-up "></span></div>
                    <div class="col-md-4 text-center "><span class="arrow-up hidden"></span></div>
                    <div class="col-md-4 text-center "><span class="arrow-up hidden"></span></div>
                </div>-->
                <div class="policies-info-box ">
                    <div class="col-md-12 no-pad">
                        <button id="overviewCloseresource3" type="button" class="close" aria-label="Close"
                                ng-click="closePanel()">
                            <span aria-hidden="true" class="icon-close-temp"></span>
                        </button>
                    </div>
                    <div ng-include="'app/components/benefits/policies/benefitsGuideBook/benefitsGuideBookView.html'"></div>
                </div>
            </div>

            <div class="content-block no-pad tilePanel" id="navTca"
                 ng-if="tileData.label =='Terms and Conditions Agreement' && tab !=0 ">
<!--                <div class="col-md-12 no-pad">
                    <div class="col-md-4 text-center "><span class="arrow-up "></span></div>
                    <div class="col-md-4 text-center "><span class="arrow-up hidden"></span></div>
                    <div class="col-md-4 text-center "><span class="arrow-up hidden"></span></div>
                </div>-->


                <div class="policies-info-box ">
                    <div class="col-md-12 no-pad">
<!--                        <button id="" type="button" class="close" aria-label="Close"
                                ng-click="closePanel()">
                            <span aria-hidden="true" class="icon-close-temp"></span>
                        </button>-->
                        <button id="overviewCloseresourceTca" type="button" class="close" aria-label="Close"
                                ng-click="closePanel()">
                            <span aria-hidden="true" class="icon-close-temp"></span>
                        </button>
                    </div>
                    <div ng-include="'app/components/company/policies/trinetTCA/trinetTCAView.html'"></div>
                </div>
            </div>


        </div>
    </div>
</div>
</div>
<div id="scroll_company">
    <div class="myfield-content security clearfix ng-scope" data-ng-if="errorAlert && errorAlert._statusCode === '404'">
        <div class="security-details marg-top-20 text-center">
            <h3 class="default-text no-border">{{::translation.noCompPolicies}}</h3></h3>
        </div>
    </div>


</div>
<a scroll-to="policiesId"><span
        class="icon-icon_backtotop b2t"></span></a>

<!--end of container-content-->
<script>
    if (angular.element("#scroll_company").height() > angular.element(window).height()) {
        angular.element('.icon-icon_backtotop').show();

    } else {
        angular.element('.icon-icon_backtotop').hide();
    }


</script>


