<div class="col-md-12 no-right-pad bottom-pad">
    <div class="col-md-12 no-pad dashboard-box">
        <h3 class="dashboard-box-head" ng-bind="::translation.shared.calendar"></h3>
        <div class="mybox calendar">


            <div class="col-md-12 no-pad text-right">
                <strong class="medium">{{::translation.shared.dateformate}}</strong>
                <hr class="date">
                <table class="table text-left">
                    <tbody>
                    <tr>
                        <td>8:00 am</td>
                        <td >{{::translation.shared.teamStandup}}</td>
                    </tr>
                    <tr>
                        <td>10:00 am</td>
                        <td>{{::translation.shared.scrumMeeting}}</td>
                    </tr>
                    <tr>
                        <td>1:00 pm</td>
                        <td>{{::translation.shared.discussNewReqs}}</td>
                    </tr>
                    <tr>
                        <td>2:00 pm</td>
                        <td>{{::translation.shared.lunchJohn}}</td>
                    </tr>
                    <tr>
                        <td>2:30 pm</td>
                        <td>{{::translation.shared.wavePreplan}}</td>
                    </tr>
                    <tr>
                        <td>4:15 pm</td>
                        <td>{{::translation.shared.coffeeBurton}}</td>
                    </tr>

                    </tbody>
                </table>
                <strong class="medium">{{::translation.shared.dateFormateWed}}</strong>
                <hr class="date">
                <table class="table text-left">
                    <tbody>
                    <tr>
                        <td>8:00 am</td>
                        <td >{{::translation.shared.teamStandup}}</td>
                    </tr>
                    <tr>
                        <td>10:00 am</td>
                        <td>{{::translation.shared.scrumMeeting}}</td>
                    </tr>
                    <tr>
                        <td>1:00 pm</td>
                        <td>{{::translation.shared.discussNewReqs}}</td>
                    </tr>
                    <tr>
                        <td>2:00 pm</td>
                        <td>{{::translation.shared.lunchJohn}}</td>
                    </tr>
                    <tr>
                        <td>2:30 pm</td>
                        <td>{{::translation.shared.wavePreplan}}</td>
                    </tr>
                    <tr>
                        <td>4:15 pm</td>
                        <td>{{::translation.shared.coffeeBurton}}</td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>