<label class='checkbox pull-left check-box-dimentions' ng-class="{checked: model}">
  <span class="icons">
    <span ng-hide="checked" class="icon-icon_checkmark_emptybox large" id="uncheck-box">&nbsp;</span>
    <span ng-show="checked" class="icon-icon_checkmarkwithbox large" id="check-box"> &nbsp;</span>
  </span>
    <!-- <input type="checkbox"
           ng-model="model"ƒ
           ng-value="value"
           ng-required="required"
           name="name"
           data-toggle="checkbox" /> -->
    {{label}}
</label>
