<div class="tn-modal" id="conformpopup">
    <div class="tn-modal-header">
        <h4 id="myModalLabel" class="profile-heading proxima-nova-semibold text-center">Confirmation</h4>
    </div>
    <div class="tn-modal-boby">
        <h5>{{::translation.manage_CustomFields.saveCustomField}}</h5>
    </div>
    <div class="tn-modal-footer text-right">
        <button class="tn-button tn-action-button"  ng-click="manageCancelRevert()">{{::translation.no}}</button>
        <button class="tn-button tn-cancel-button" ng-click="discardChanges()" type="reset">{{::translation.yesDiscardChanges}}</button>
    </div>
</div>
