<div>
    <div class="retirement-plan-popup-header">
        <h4 class="modal-title white text-left clearfix">{{::translation.shared.confirmation}}</h4>
    </div>
    <div class="modal-body">
        {{::translation.manage_CustomFields.deleteCustomField}}
    </div>
    <div class="modal-footer-security text-right">
        <button class="trinet-secondary-action-btn" ng-click="cancelDelConfWithData()"  type="reset" class="trinet-secondary-action-btn">{{::translation.no}}</button>
        <button class="trinet-secondary-action-btn"  ng-click="okDelete()" class="trinet-secondary-action-btn">{{::translation.yesDelete}}</button>
    </div>
</div>
