<div>
    <div class="retirement-plan-popup-header">
        <h4 class="modal-title white text-left clearfix">{{::translation.shared.confirmation}}</h4>
    </div>
    <div class="modal-body">
        {{::translation.manage_CustomFields.existCutomFieldDelete}}
    </div>
    <div class="modal-footer-security text-right">
        <button class="trinet-secondary-action-btn" ng-click="cancelDelConfWithData()"  type="reset">{{::translation.no}}</button>
        <button class="trinet-secondary-action-btn" ng-click="okDelete()">{{::translation.yesDelete}}</button>
    </div>
</div>
