<div>
    <div class="block clearfix">
        <div class="retirement-plan-popup-header">
            <h4 class="modal-title white text-left clearfix">{{::translation.shared.confirmation}}</h4>
        </div>
        <div class="modal-body retirement-plan-popup-body clearfix">
            <p>{{::translation.manage_CustomFields.changeCustomField}}</p>
        </div>
        <div class="modal-footer-security text-right col-md-12 col-sm-12">
            <button class="trinet-secondary-action-btn"  ng-click="cancelUpdateLabel()">{{::translation.no}}</button>
            <button class="trinet-secondary-action-btn" ng-click="saveUpdateButton()" type="reset">{{::translation.yesDiscardChanges}}</button>
        </div>
    </div>
</div>
