<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="tn-widget-title no-marg proxima-nova-semibold">{{translation.manageOnDemand.title}}</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <p class="">{{translation.manageOnDemand.descriptionText}}</p>
    </md-card-content>
    <md-card-actions layout="row" layout-align="center">
        <md-button id="goToIndependentContractorsButton" target="_blank"
                   class="md-accent md-raised md-hue-3 tn-widget-buttons" ng-href="#/ssowidget/qwill">
            {{translation.manageOnDemand.buttonText }}
        </md-button>
    </md-card-actions>
</md-card>
