
<div id="proxima-nova-semibold" layout="row" layout-align="center center" class="pad-30">
    <div class="col-md-4 right-border center-text">
        <div class="tn-widget-numeric-label-medium" id="oeTotalBenefitsEligible" ng-bind="eligibleCount"></div>
        <div class="tn-widget-text proxima-nova-semibold" ng-bind="::translation.openEnrollmentStats.totalBenefitsEligible"></div>
    </div>
    <div class="col-md-4 right-border center-text">
        <div class="tn-widget-numeric-label-medium" id="oeTotalLoggedIn" ng-bind="loggedInCount"></div>
        <div class="tn-widget-text proxima-nova-semibold" ng-bind="::translation.openEnrollmentStats.totalLoggedIn"></div>
    </div>
    <div class="col-md-4 center-text">
        <div class="tn-widget-numeric-label-medium" id="oeTotalSubmissions" ng-bind="submissionsCount"></div>
        <div class="tn-widget-text proxima-nova-semibold" ng-bind="::translation.openEnrollmentStats.totalSubmissions"></div>
    </div>
</div>
