<div class="col-md-12 no-right-pad bottom-pad">
    <div class="col-md-12 no-pad dashboard-box">
        <h3 class="dashboard-box-head">{{::translation.shared.perform}}</h3>
        <div class="mybox1 no-right-pad">
            <div class="col-md-12 col-lg-12 no-pad text-right">
                <div class="col-md-12 col-lg-12 no-pad days-out-label">
                    <div class="col-md-3 col-sm-3 no-pad medium">{{::translation.shared.tryOut}}!</div>
                    <div class="col-md-3 col-sm-3 no-pad days-left"> {{::translation.shared.daysLeft}}</div>
                    <div class="col-md-6 no-pad ">
                        <div class="col-md-4 col-sm-3 no-pad medium">{{::translation.shared.rating}}</div>
                        <div class=" starrr mystar col-md-8 text-right no-right-pad" id="stars">
                            <div class="pull-left"><i class="fa fa-star-o"></i></div>
                            <div class="pull-left"><i class="fa fa-star-o"></i></div>
                            <div class="pull-left"><i class="fa fa-star-o"></i></div>
                            <div class="pull-left"><i class="fa fa-star-o"></i></div>
                        </div>
                    </div>
                </div>
                <div class="days-widget-tag">&nbsp;</div>
                <div class="col-md-12 col-lg-12">
                    <label class="pull-left font-light">{{::translation.shared.addNewGoal}}</label>
                    <textarea></textarea>
                </div>
            </div>
            <div class="col-md-12 col-lg-12 text-left">
                <button class="trinet-default-btn-active">{{::translation.shared.addGoal}}</button>
            </div>
        </div>
    </div>
</div>