<div class="col-md-12 no-right-pad bottom-pad">
    <div class="col-md-12 no-pad dashboard-box">
        <h3 class="dashboard-box-head"  ng-bind="::translation.shared.flexibleSpending"></h3>
        <div class="mybox">
            <div class="col-md-12 col-lg-12 no-pad text-right">
                <div class="clearfix">&nbsp;</div>
                <p  ng-bind="::translation.shared.recentClaim"></p>
                <h1 class="claim-amount">$453.65</h1>
                <p ng-bind="::translation.shared.dentalClinic"></p>
                <p>{{::translation.shared.paidon}} 09/24/2013</p>
            </div>
            <div class="col-md-12 text-left">
                <button class="trinet-orange medium">{{::translation.shared.submitClaim}}</button>
            </div>
        </div>
    </div>
</div>