<div class="tn-modal">
    <div class="tn-modal-header">
        <h4 class="proxima-nova-semibold text-center">{{::translation.succesfullySaved}}</h4>
    </div>
    <div class="tn-modal-boby col-md-12">
        <h5 class="no-marg text-center tn-modal-message">{{successMessage}}</h5>
    </div>
    <div class="clearfix"></div>
    <div class="tn-modal-footer text-right">
        <button name="save" class="tn-button tn-action-button"
                type="button" ng-click="closeThisDialog(0)">{{::translation.gotIt}}
        </button>
    </div>
</div>
