<div id="acknowledgmentClose" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-header">
            <h4 class="modal-title" ng-bind="::translation.options.acknowledgement"></h4>
        </div>
        <div class="modal-body">
            <p ng-bind="::translation.options.eligibilityParticipation"></p><br>
            <p ng-bind="::translation.options.additionalSupplement"></p><br>
            <p ng-bind="::translation.options.makeChage"></p>
        </div>
        <div class="modal-footer">
            <button type="reset" class="trinet-secondary-action-btn" ng-click="saveEmailOption(optionDescion)" ng-bind="::translation.options.yesChange_it">
            </button>
            <button type="reset" class="trinet-secondary-action-btn" data-dismiss="modal" ng-click="close()"  ng-bind="::translation.options.cancel">
            </button>
        </div>
    </div>
</div>