$trinet-dark-blue   : #283042;
$tn-orange          : #E37222;
$tn-dark-gray       : #494949;
$tn-blue            : #094D83;
$tn-white           : #FFFFFF;
$trinet-gray        : #808080;
$trinet-font-family :  "Source Sans Pro", sans-serif;
