@font-face {
    font-family: 'SansPro';
    src: url("../../fonts/sourcesanspro-regular.eot");
    src: url("../../fonts/sourcesanspro-regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/sourcesanspro-regular.woff") format("woff"), url("../../fonts/sourcesanspro-regular.ttf") format("truetype"), url("../../fonts/sourcesanspro-regular.otf") format("otf"), url("../../fonts/sourcesanspro-regular.svg#webfont") format("svg");
}

.block, .change-request-details, .change-request-details .content-block, .change-request-details .content-block .title, .change-request-details .buttons {
    display: block;
    overflow: hidden;
}

.in-block {
    display: inline-block;
    overflow: hidden;
}

.change-request-details {
    border: 1px solid #494949;
    padding: 10px;
    background: #ffffff;
    width: 500px;
    float: right;
    position: absolute;
    right: 0;
    top: 0px;
    z-index: 999;
}

.change-request-details .content-block {
    background: #f2f2f2;
    width: 100%;
    border: 1px solid #888;
}

.change-request-details .content-block .title {
    height: 34px;
    color: #0039A6 !important;
    border-bottom: 3px solid #0039A6;
    padding: 7px 5px 7px 0px;
    font-weight: 600;
}

.change-request-details .content-block .title h3 {
    margin-top: -7px;
    display: inline-block;
    font-size: 19px;
    color: #0039A6 !important;
    float: left !important;
}

.change-request-details .content-block .title .close {
    color: #0039A6 !important;
    line-height: 25px;
    float: right;
    font-size: 18px;
}

.change-request-details .content-block .title .close:hover {
    color: #0039A6 !important;
}

.change-request-details table.assign-manager {
    /*border-bottom: 1px solid $Trinet-dark-gray;
    padding-bottom: $padding;
    margin: $margin $margin 0 $margin !important;
    width: 96%;*/
}

.change-request-details table.assign-manager tbody {
    /*display: table-cell;*/
}

.change-request-details table.assign-manager tbody tr {
    /*border-bottom: 0;*/
}

.change-request-details table.assign-manager tbody tr td {
    border: 0;
}

.change-request-details table.assign-manager tbody tr td span.person {
    color: #888888;
}

.change-request-details .icon-adj {
    position: relative;
    top: 2px;
    margin-right: 5px;
    color: #0073CF;
}

.change-request-details .no-border {
    border: none !important;
}

.change-request-details .buttons {
    text-align: right;
}
.customeChangeRequestDetails {
    width: 600px !important;
    top: 0px !important;
    height:auto !important;
    overflow:hidden !important;
    padding-bottom: 0;
    margin-bottom: 10px;
}
.customeChangeRequestDetails .content-block {
  border: 0;
}
.customeChangeRequestDetails .content-block .title {
  color: #0073CF !important;
  border-bottom: 2px solid #0073CF;
  padding: 7px 5px 7px 10px;
}
.customeChangeRequestDetails .content-block .end-payment-popup tbody tr td {
  font-weight: 100;
  padding: 4px 2px 2px 4px !important;
  color:#000;
  font-size: 14px;
}
.customeChangeRequestDetails  button.trinet-secondary-action-btn{
      margin-top:10px;
      margin-right: 0;
      }
.manage-employee .table-content-block {
    position: relative;
    height: 380px;
}

.flyout {
    overflow-x: hidden;
    overflow-y: auto;
    top: 32px;
}

.flyout .assign-manager ul li {
    padding: 5px 15px;
}

.flyout .assign-manager ul li .blue {
    float: left;
    margin-top: 5px;
}

.flyout .assign-manager ul li label {
    top: 0 !important;
    cursor: pointer;
}

.flyout2 {
    height: 267px;
    overflow-x: hidden;
    overflow-y: scroll;
    top: 315px;
    right: 10px;
}

.additional-beign tbody tr td {
    font-size: 14px !important;
}

.dropdown-menu.my-cal li table tbody.cal-view tr td {
    padding: 0 !important;
}

.assign-manager-calendar ul {
    left: 0 !important;
}

.assign-manager-calendar ul li {
    padding: 0 !important;
}
.tn-assign-manager {
  font-family: "proxima_nova_rgregular";
  letter-spacing: .2px;
  position: relative;
}
.tn-assign-manager alert-view{
    position: absolute;
    width: 100%;
    display: block;
    height: auto;
    z-index: 99999;
}

.tn-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -.75rem;
  margin-left: -.75rem;
}

.table.tn-table thead th {
  border: none;
  border-bottom: 1px solid #c4c8d3;
  color: #8992a3;
  padding: 8px 14px;
  position: relative;
  font-weight: normal;
}
.table.tn-table tbody td {
  border: none;
  padding: 5px 14px;
}
.table.tn-table tbody tr:nth-child(even) {
  background-color: #f4f6f7;
}
.table.tn-table .group-change-filter-list {
  min-height: 30px;
  top: 100%;
  right: 0;
  height: auto;
  border: none;
  -webkit-box-shadow: 0px 9px 34px 0px rgba(55, 57, 62, 0.38);
  -moz-box-shadow: 0px 9px 34px 0px rgba(55, 57, 62, 0.38);
  box-shadow: 0px 9px 34px 0px rgba(55, 57, 62, 0.38);
}
.table.tn-table .group-change-filter-list::-webkit-scrollbar {
  width: 5px;
}
.table.tn-table .group-change-filter-list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.table.tn-table .group-change-filter-list::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
.table.tn-table .group-change-filter-list input[type="checkbox"] {
  margin: 0 5px 2px 0;
}
.table.tn-table .group-change-filter-list p {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0;
}
.table.tn-table .group-change-filter-list label {
  font-weight: normal;
  color: #30343C;
  display: block;
  padding: 5px 0;
}
.table.tn-table .main-text {
  color: #30343C;
  word-wrap: break-word;
  letter-spacing: .6px;
}
.table.tn-table .sub-text {
  color: #a0a8ba;
}
.table.tn-table [class*="text"] {
  margin: 10px 0;
}

.tn-search-box-container {
  width: 270px;
  float: right;
  position: relative;
}
.tn-search-box-container .tn-search-box-search-icon {
  position: absolute;
  left: 12px;
  top: 32%;
}
.tn-search-box-container .tn-search-box {
  width: 100%;
  height: 35px;
  border-radius: 15px;
  border: 1px solid #a3a5ab;
  padding-left: 30px !important;
}
.calender-input .input-tooltip{
    top:100%;
    left:0 !important;
}
.tn-change-request .tn-input-group-addon {
    width: 300px !important; }
.tn-change-request .tn-input-group-addon input {
    padding-left: 20px !important;
    max-width: none;
    border-radius: 0;
    padding-right: 35px !important; }
.tn-change-request .tn-input-group-addon .input-group-addon {
    color: #b3bdc7 !important; }

.secondary-title-color {
  color: #444c5c;
}

.supplemental-text-color {
  color: #6e778a;
}

.gray-divder {
  border: 1px solid #dde1e6;
}

.calender-input {
  border: 1px solid #b3bdc7;
}
.tn-form .input-group.input-auto-complete {
  /*border-bottom: none;*/
  box-shadow: none;
}
.tn-form .input-group.input-auto-complete .input-group-addon i {
  color: #ddd;
}
.tn-form .input-group.input-auto-complete input {
  width: 250px;
}

.input-auto-complete .dropdown-menu {
  width: 290px;
  min-height: 30px;
  background-color: #fff;
  border: 1px solid #D4DBE5;
  border-top: none;
  box-shadow: 5px 5px 5px -5px #ddd;
  border-radius: 0;
}
.input-auto-complete .dropdown-menu > li > a {
  background-color: #fff !important;
  color: #000;
  padding: 9px 20px;
}
.input-auto-complete .dropdown-menu > li > a:active, .input-auto-complete .dropdown-menu > li > a:hover, .input-auto-complete .dropdown-menu > li > a:focus {
  background-color: #f4f6f7 !important;
  color: #000;
}
.dropdown-menu-adjust {
    max-height: 150px;
    width: 300px !important;
    overflow-y: auto !important;
    margin: 1px 0 0 0;
    left: -1px; }
.dropdown-menu-adjust::-webkit-scrollbar {
    width: 6px; }

.fixed-table {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.fixed-table .fixed-table-head {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #c4c8d3;
  color: #8992a3;
  font-weight: 400;
}
.fixed-table .fixed-table-body {
  height: auto;
  overflow: auto;
  max-height: 720px;
}
.fixed-table .fixed-table-body::-webkit-scrollbar {
  width: 4px;
}
.fixed-table .fixed-table-head h6 {
  padding: 10px 13px;
  flex-basis: 20%;
  margin: 0px 5px 0 0;
  position: relative;
}
.fixed-table .fixed-table-body > div {
  display: flex;
}
.fixed-table .fixed-table-body > div > div {
  flex-basis: 20%;
  padding: 0px 15px;
  word-wrap: break-word;
  word-break: break-word;
  margin: 0 5px 0 0;
}
.fixed-table .fixed-table-body > div > div .main-text {
  color: #30343C;
  letter-spacing: .6px;
  word-wrap: break-word;
  word-break: break-word;
}
.fixed-table .fixed-table-body > div > div .sub-text {
  color: #a0a8ba;
}
.fixed-table .fixed-table-body > div:nth-child(even) {
  background-color: #f4f6f7;
}

.table.tn-table .group-change-filter-list {
  min-height: 30px;
  top: 100%;
  right: 0;
  height: auto;
  border: none;
  -webkit-box-shadow: 0px 9px 34px 0px rgba(55, 57, 62, 0.38);
  -moz-box-shadow: 0px 9px 34px 0px rgba(55, 57, 62, 0.38);
  box-shadow: 0px 9px 34px 0px rgba(55, 57, 62, 0.38);
}

.fixed-table .group-change-filter-list::-webkit-scrollbar {
  width: 5px;
}
.fixed-table .group-change-filter-list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.fixed-table .group-change-filter-list::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
.fixed-table .group-change-filter-list input[type="checkbox"] {
  margin: 0 5px 2px 0;
}
.fixed-table .group-change-filter-list p {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0;
}
.fixed-table .group-change-filter-list label {
  font-weight: normal;
  color: #30343C;
  display: block;
  padding: 5px 0;
}
.tn-button-assign{
    margin: 0px 25px 0px 0px !important;
    height: 0px !important;
}
@media (max-width: 980px) {
  .fixed-table .fixed-table-head h6 {
    font-size: 9px;
  }
  .fixed-table .fixed-table-head h6 .adjIcon.medium {
    font-size: inherit !important;
  }
  .fixed-table .fixed-table-body > div > div .main-text {
    font-size: 9px;
  }
  .fixed-table .fixed-table-body > div > div .sub-text {
    font-size: 8px;
  }
}


/*# sourceMappingURL=assign-manager.css.map */
