/* .chart {
  position: static;
  width: 450px;
  height: 450px;
  top: 50%;
  left: 50%;
  margin: -225px 0 0 -225px;
}

.doughnutTip {
  position: absolute;
  min-width: 30px;
  max-width: 300px;
  padding: 5px 15px;
  border-radius: 1px;
  background: rgba(0, 0, 0, 0.8);
  color: #ddd;
  font-size: 17px;
  text-shadow: 0 1px 0 #000;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.3;
  letter-spacing: .06em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  pointer-events: none;
}
.doughnutTip::after {
  position: absolute;
  left: 50%;
  bottom: -6px;
  content: "";
  height: 0;
  margin: 0 0 0 -6px;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top: 6px solid rgba(0, 0, 0, 0.7);
  line-height: 0;
}

.doughnutSummary {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #d5d5d5;
  text-align: center;
  text-shadow: 0 -1px 0 #111;
  cursor: default;
}

.doughnutSummaryTitle {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -37%;
  font-size: 22px;
  letter-spacing: .06em;
  display:none;
}

.doughnutSummaryNumber {
  position: absolute;
  top: 50%;
  width: 100%;
  font-size:22px;
}

.chart path:hover {
  opacity: 0.65;
} */
/**
 ====
*/
.footer {
    background-color: #333333;
    color: white;
    padding-top: 15px;
}

.chart-banner {
    background-color: rgba(0, 140, 186, 0.3);
    padding-top: 25px;
    margin-bottom: 15px;
    border-top: 1px solid #666666;
    border-bottom: 1px solid #cccccc;
}

.tc-chart-js-legend {
    list-style-type: none;
    padding-left: 0px;
}

.tc-chart-js-legend li {
    display: block;
    float: left;
    clear: both;
    padding: 10px;
}

.tc-chart-js-legend li span {
    width: 25px;
    height: 25px;
    display: block;
    float: left;
    margin-right: 10px;
}