<!--
Program: medicalPlanCoverageSummaries.html
Description: It displays information to user about Summary of Benefits and Coverages Toggle.
 -->

<div class="SummaryPlanDescriptionId" ng-controller="summaryPlanDescriptionViewCtrl">


    <div class="col-md-12">
        <!-- panel 4 start -->
        <accordion close-others="true" id="carrierCertificates" ng-if="summaryPlanPdfData.type !== 'Ambrose'">
            <accordion-group is-open="status7">
                <accordion-heading>
                    <b><span>{{::translation.my_benefits.planCarrier.summary_benfCovg}}</span></b><i
                        class="pull-right glyphicon"
                        ng-class="{'icon-icon_Disclosure_Collapse': status7, 'icon-icon_Disclosure_Expand':!status7}"></i>

                </accordion-heading>
                <div class="panel-body panel-body-background no-pad">
                    <span ng-bind="::translation.my_benefits.policies.accord4_text2"></span>

                    </p>
                    <ul class="no-pad benefits-summery-links adj-benfitGuideBook">
                        <li>

                            <a href="{{summaryPlanPdfData.benefitsCarrier[0].url}}" target="_blank"
                               id="benefitsCarrierId{{$index}}"><span
                                    class="icon-icon_pdf"></span><span class="">{{summaryPlanPdfData.benefitsCarrier[0].text}}</span></a>
                        </li>
                    </ul>
                </div>

            </accordion-group>
        </accordion>

        <!-- panel 4 end -->

        <!-- panel 5 start -->
        <!-- Medical popups Toggle -->
        <accordion close-others="true" id="medicalPopup">
            <accordion-group is-open="status8">
                <accordion-heading>
                    <b><span class="text-upperCase" ng-bind="::translation.my_benefits.policies.medical"></span></b><i
                        class="pull-right glyphicon"
                        ng-class="{'icon-icon_Disclosure_Collapse': status8, 'icon-icon_Disclosure_Expand':!status8}"></i>
                </accordion-heading>
                <div class=" ">
                    <div id="popMatena{{$index}}" class="col-md-3 column-pad" ng-repeat="x in medicalData">
                        <div class="title-img" ng-click="atenaPopUp($index,'medical','sbc')">
                            <img src="{{bindImgUrl(x.text)}}">
                            <p ng-if="bindImgUrl(x.text) === undefined">{{x.text}}</p>
                        </div>
                    </div>


                </div>
            </accordion-group>
        </accordion>
        <!-- panel 5 end -->

        <!-- panel 9 start -->
        <accordion close-others="true" id="assistancePlan">
            <accordion-group is-open="status12">
                <accordion-heading>
                    <b><span ng-bind="::translation.my_benefits.policies.emp_assistance"></span></b><i
                        class="pull-right glyphicon"
                        ng-class="{'icon-icon_Disclosure_Collapse': status12, 'icon-icon_Disclosure_Expand':!status12}"></i>
                </accordion-heading>

                <div class="col-md-12 retirement-plan-enrolment"
                     ng-if="summaryPlanPdfData.employeeAssistancePlan === null || summaryPlanPdfData.employeeAssistancePlan.length === 0">
                    <div class="no-enrolment">
                        <h3>{{::translation.my_benefits.planCarrier.noData_available}}</h3>
                    </div>
                </div>

                <table class="table emp-assign-pln-pdf-adj" ng-if="summaryPlanPdfData.employeeAssistancePlan !== null">
                    <thead>
                    <tr class="blue-head">
                        <th class="col-md-4 col-sm-4 medium"
                            ng-bind="::translation.my_benefits.policies.empAssistancePlan">
                        </th>

                        <th class="col-md-4 col-sm-4 medium" ng-bind="::translation.my_benefits.policies.sbc"></th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="x in employeeAssistancePlan">
                        <td class="col-md-4 col-sm-4 medium">{{x.plans}}</td>

                        <td class="col-md-4 col-sm-4 medium"><a href="{{x.SBCCurYearUrl | contentUrl}}" target="_blank"
                                                                id="SBCPlanYearStartDateId{{$index}}"><span
                                ng-if="x.SBCCurYearUrl !== '' " class="icon-icon_pdf pull-left"></span><span
                                ng-if="x.SBCCurYearUrl !== '' " id="SBChisPlanYearStartDateId{{$index}}">{{summaryPlanPdfData.thisPlanYearStartDate}} - {{summaryPlanPdfData.thisPlanYearEndDate}}</span>
                            <span ng-if="x.SBCCurYearUrl === '' "></span></a>
                            <a href="{{x.SBCPrevYearUrl | contentUrl}}" target="_blank"
                               id="SBCPrevPlanYearStartDateId{{$index}}"><span ng-if="x.SBCPrevYearUrl !== '' "
                                                                               class="icon-icon_pdf pull-left"></span><span
                                    ng-if="x.SBCPrevYearUrl !== '' " id="SBChisprevPlanYearStartDateId{{$index}}">{{summaryPlanPdfData.prevPlanYearStartDate}} - {{summaryPlanPdfData.prevPlanYearEndDate}}</span>
                                <span ng-if="x.SBCPrevYearUrl === '' "></span></a></br></td>
                    </tr>
                    </tbody>
                </table>

            </accordion-group>
        </accordion>
        <!-- panel 9 end -->


    </div>
</div>
