<div class="tn-compliance">
    <h2 class="page-title"> Compliance Center</h2>
    <md-card flex="75" class="tn-compliance-card">
        <div class="tn-compliance-heading">
            <span class="tn-margin-15 proxima-nova-semibold"> TriNet Reference Library</span>
        </div>
        <md-card-content class="tn-margin-15 tn-compliance-content">
            <p> TriNet has teamed up with BeazleySure to provide you with self-service HR best practice tools including state-specific forms and notices, training modules, legal updates, and risk management tips. Access is available at no cost to all active TriNet clients.</p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="center">
            <md-button id="trinetReferenceLibrary" class="md-accent md-raised tn-compliance-button tn-widget-buttons" ng-click="openDialog('trinetReferenceLibrary')" ><span> Launch TriNet Reference Library</span></md-button>
        </md-card-actions>
    </md-card>
    <md-card flex="75" class="tn-compliance-card">
        <div class="tn-compliance-heading">
            <span class="tn-margin-15 proxima-nova-semibold"> TriNet Navigator Suite</span>
        </div>
        <md-card-content class="tn-margin-15 tn-compliance-content">
            <p> Allows you to access tools to help you make decisions about HR Compliance such as contractor and exemption statuses, and wage and hour compliance. </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="center">
            <md-button id="trinetNavigatorSuite" class="md-accent md-raised tn-compliance-button tn-widget-buttons" ng-click="openDialog('trinetNavigatorSuite')"><span> Launch TriNet Navigator Suite</span></md-button>
        </md-card-actions>
    </md-card>
    <md-card flex="75" class="tn-compliance-card">
        <div class="tn-compliance-heading">
            <span class="tn-margin-15 proxima-nova-semibold"> Legal Services</span><br/>
            <span class="tn-compliance-subheading"> Coming Soon!</span>
        </div>
        <md-card-content class="tn-margin-15 tn-compliance-content">
            <p> Provides legal assistance to help you grow your business and remain compliant, including referral assistance, fee negotiation, verified attorneys with fixed fees, as well as a free hotline and compliance tool. </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="center">
            <md-button id="trinetLegalServices" class="md-accent md-raised tn-compliance-button tn-compliance-secondary-button" disabled><span> Launch Legal Services</span></md-button>
        </md-card-actions>
    </md-card>
</div>
