@import '../global';

.policies-general {

  h2 {
    padding: 0px !important;
  }
  .content-block {
    max-width: 926px;
    min-width: 600px;
    display: block;
    background-color: #ffffff;
    overflow: auto;
    /*position:relative;
    top:-70px;*/

    button {
      margin-top: $margin+6;
    }

    .content-main {
      margin: ($margin*3)+2 0 ($margin*2)+4 0;
      color: $Trinet-dark-blue;
      font-size: 16px;
      font-weight: 600;
    }

    a {
      text-decoration: none;
    }
  }

  .row-top-margin {
    margin: $margin*3 0 0 0;
  }

  .column-pad {
    padding-left: 0;
    padding-right: 4px;
    padding-top: 4px;
  }
  .title-block {
    cursor: pointer;
    background: $Background;
    padding: $padding $padding+4;
    height: 110px;

    &:hover {
      background: $Trinet-blue;
      color: $White;

      h4, p {
        color: $White;
      }

    }
    h4 {
      color: $Trinet-blue;
      width: auto;
      max-width: 280px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    p {
      color: $Trinet-gray;
      height: 50px;
      font-size: 12px;
      overflow: hidden;
    }
  }
  title-block.title-block-active {
    h4, p {
      color: #FFFFFF;
    }
  }

  .title-img {
    border: 1px solid $Trinet-gray;
    text-align: center;
    padding: ($padding*2)+2;
    height: 80px;
    position: relative;

    &:hover {
      background: $Lighter-blue;
      border: 1px solid $Trinet-blue;

    }

  }

  .img-pad {
    padding-left: 0;
    padding-right: 4px;
    margin-top: 4px;
  }
}

.title-margin {
  margin: 4px 0 0 0;
}

.general-info {
  margin-left: 5px;
  margin-right: 5px;

  .general {
    margin-top: ($margin*3)+2;
    font-weight: 600;
    font-size: 24px;
    /*border-bottom:1px solid $Trinet-gray;*/
  }

}

.bottom-marg {
  margin-bottom: ($margin*3)+2;
}

i.icon-icon_file {
  line-height: 2;
  padding-right: $padding;
  font-size: 16px;
  color: $Trinet-dark-orange;
}

.top-button {

  position: absolute;
  bottom: 15px;
  right: 0;

  a {
    text-decoration: none;
  }

  span {
    line-height: 0;
    color: $Trinet-dark-orange;
  }

  label {
    font-size: 12px !important;
    display: block;
    color: $Trinet-dark-orange;
    line-height: 0;

  }

}

#accordion {
  .panel {
    border-radius: 0px;
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.05) !important;
    -box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.05) !important;
  }

  .panel-heading {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
  }
}

.panel-default {
  border: none;
}

.panel-title {
  color: $Trinet-dark-gray;
  font-weight: bold;
}

.panel-body-background { /*padding:($padding*2)+4  $padding+6;*/
  border-top: 0px !important;
}

.panel-body-background {
  ul {
    padding-top: ($padding*2)+4;

    li {
      background: $Background;
      margin-top: 4px;
      padding-left: $padding/2;
      color: $Trinet-dark-blue;
      font-size: 16px;
      font-weight: 400;

      a {
        color: $Trinet-dark-blue;

        span {
          color: $Trinet-gray;
          font-size: 16px;
          font-weight: 400;
        }

      }

    }
  }
}

.fourth-panel {
  ul {
    li {

      padding: $padding;
      margin-top: $margin;
      min-height: 70px;
      &:nth-of-type(even) {
        background: $White;
      }

      .circle-icon {
        font-size: 10px !important;
        margin-right: $margin;
      }

    }
  }

  #accordion-example {
    #modalcollapseOne {

      .no-border {
        border-right: none !important;
      }
    }
  }

}

table.medical-aetna {
  thead {
    background: $Trinet-blue;
    tr {
      th {
        background: $Trinet-blue;
      }
    }
    tr {
      td {
        a {
          text-decoration: underline;
          color: $Trinet-blue;
        }
      }
    }

  }
}

.hasSelectedItem .gridder-list.selectedItem .title-block {
  background: #0073CF;
}

.hasSelectedItem .gridder-list.selectedItem .title-block h4 {
  color: #fff;
}

.policies-headline h3 {
  color: $Trinet-dark-gray;
  font-size: 30px;
  font-weight: 600;
}

.table-striped-even > tbody > tr:nth-of-type(even) {
  background-color: #f9f9f9;
}

.policies-data {
  position: relative;
  top: -60px;
  width: 100%;
  margin: 0;
  padding: 0px;
}

table.general-info-table tbody tr td, table.general-info-table thead tr th {
  font-size: 14px;
}

.policies-table {
  border: 1px solid #7FBAEC;
}

.policies-table .head {
  width: 380px;
  color: $Trinet-blue;
  padding: $padding/2;
  // Needs latest Compass, add '@import "compass"' to your scss
  // Permalink - use to edit and share this gradient:
  // http://colorzilla.com/gradient-editor/#ebf1f6+0,abd3ee+50,89c3eb+51,d5ebfb+100;Blue+Gloss+%234
  background-color: #ebf1f6; // Old browsers
  //@include filter-gradient(#ebf1f6, #d5ebfb, vertical); // IE6-9
  //@include background-image(linear-gradient(top,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%));
  tbody tr {
    td:nth-child(1) {
      border-bottom: 1px solid #EFEBEB;
      border-right: 1px solid #EFEBEB;

    }
    td:nth-child(2) {
      border-bottom: 1px solid #EFEBEB;
      border-left: 1px solid #EFEBEB;

    }
  }
}

.policies-table
.policies-table tbody tr
.policies-forms input[type="checkbox"] {
  margin: 0;
  padding: 0;
  position: relative;
  top: 12px;
  margin-left: $margin;

}

.additional-policies {

  h3 {
    font-size: 18px;
    font-weight: 600;
  }
  a {
    color: $Trinet-orange !important;
    font-weight: 600;
    font-size: 16px;
  }

}

.policies-info-box {
  .additional-policies.panel-body-background {
    ul {
      padding: 0;
      list-style: none;
      margin-top: 20px;
      li {
        padding: 5px;
        display: block;
        overflow: hidden;

        a {
          color: $Trinet-blue;
          float: left;

          span.benefit-text {
            color: $Trinet-blue;
          }
        }
      }
    }

  }
}

#stats li {
  list-style-type: disc !important;
}

.listStyle li {
  list-style-type: circle;
  color: none;
  background-color: none;
}

.bullet {
  display: list-item;
  list-style: disc inside;
  padding: 0 0 0 10px;
  margin: 0;
}

.print {
  border: none;
  background-color: transparent;
  font-size: 15px;
}

.print span {
  font-size: 25px;
  position: relative;
  top: 8px;
}

.inline {
  display: inline;
}

.maillink {
  display: inline;
  text-decoration: underline !important;
  color: #0073D4;
  font-weight: 700;
  font-style: italic;
}

.carrier-certificate-content {
  @extend .block;

  p {
    font-size: 14px;
    font-weight: 400;
  }
}

.caption {
  font-size: 16px;
  font-weight: 600 !important;
}

ul.benefits-summery-links {
  li
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.grey-data {
  color: $Trinet-gray !important;
}

ul.disc {

  padding: 0;
  li {
    padding: 0;
    list-style: disc !important;
    margin: 0;
    color: $Trinet-dark-gray;
    background: none;
    list-style-position: inside;
  }
}

.policies-info-box {
  display: block;
  height: 100%;
  max-height: 575px;
  min-height: 75px;
  overflow-y: auto;
  width: 100%;
  padding: $padding+5;
}

ol.state-ordered-list {
  padding-left: $padding*5;
  li {
    list-style-type: upper-hexadecimal;
    list-style-position: inside;

  }
}

.metlife-benefits-list {
  display: block;

  ul {
    padding-left: $padding*5;
    margin: 0;

    li {
      list-style: disc;
      list-style-position: outside;
      display: list-item;
      padding-left: 10px;
      float: left;
      width: 100%;
      padding: 10px;
    }

    .title {
      font-weight: 600;
    }
  }
}

table.vertical tbody tr td {
  vertical-align: middle;

}

.b2t {
  font-size: 50px;
  cursor: pointer;
  float: right;
  color: $Trinet-orange;
}

.tooltip-right-content {
  display: none !important;

}

.tooltip-right:hover .tooltip-right-content {
  display: inline !important;

}

title-adjustment {
  float: left;
  display: block;
  overflow: hidden;
  width: 100%;
  margin-bottom: 15px !important;
  padding: 0 !important;
}

.no-state-data p {
  color: $Trinet-dark-gray;
  font-size: 44px;
  text-align: center;
  margin: 2em 0;
  opacity: .3;
  line-height: 50px;
}

table.buildMaintainView {
  tbody {
    tr {
      td {
        input[type="checkbox"] {
          float: left;
        }
        span {
          position: relative;
          top: 10px;
          margin: 0 $margin 0 $margin/2;
        }
      }
    }
  }
}

.email-details-adj {
  position: relative;
  top: -2px;
  padding: 0 $padding/2;
}

.top-2 {
  position: relative;
  top: 2px;
}

.eform-aca {
  font-size: 34px;
  color: #0073CF;
}

.pg-break {
  page-break-after: always;
}

.afla-adj {
  padding: $padding $padding/2 1px;
}

.img-adjust {
  margin-left: $margin*3+5;
  width: 150px;
}

.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
  border: none;
}

.statebuilder {
  border: 1px solid black;
  padding: $padding*2;

  p {
    padding: 5px 15px;
  }

  h3 {
    color: $Trinet-blue;
  }

}

.paragraph {
  line-height: 100% !important;

}

.panel-title {
  a {
    &:hover {
      text-decoration: none;
    }
  }
}

.accord-adj-new {
  overflow: hidden;
  margin: 0;
  line-height: 35px;
  .icon-icon_Disclosure_Collapse:before {
    position: relative;
    top: 5px;
    font-size: 20px !important;
  }
}

.data-tables-headding {
  font-size: 24px !important;
  color: $Trinet-dark-gray !important;
  margin: 0;
  padding: $padding/2 0 !important;
}

.emptyDivClass {
  width: 5% !important;
  float: left !important;
}

.questionDivClass {
  width: 40% !important;
  float: left !important;
}

.paddingDiv {
  padding-top: 30px !important;
}

.welcomeDivClass {
  width: 55% !important;
  float: left !important;
}

.linklist ul li {
  background: $White !important;
  padding-left: 10px !important;
  color: #171718 !important;
  font-size: 16px !important;
  font-weight: 400 !important;
}

.eform-adj {
  margin-top: 1.5em !important;
  margin-bottom: 1.5em !important;
  display: block;
  overflow: hidden;
}

table.eform-head thead {
  background: #0073CF;
}

table.eform-head thead tr td {
  font-size: 14px;
  color: #fff;
}

.green-icon {
  font-size: 24px !important;
  color: #69BE28;
}

.red-icon {
  font-size: 24px !important;
  color: #BE2833;
}

.policies-general .title-block h4 {
  white-space: normal !important;
  font-size: 16px !important;
}

.policies-inner-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: $Trinet-blue;;
}

.manage-emp-reports-blocks {
  .title-block {
    padding: 5px 14px !important;
  }

}

.estimated-tooltip {
  left: -63px;
}

.company-policies-blocks {
  .title-block h4 {
    margin-bottom: 12px;
  }
}

.nestedAccordian {
  height: auto !important;
  overflow: auto;
}

.company-addendum-links {
  display: inline-block;
  padding: 0;
  line-height: 13px;
  positiion: relative;
}

.employee-reports-blocks-adj {
  top: -65px !important;

  .policies-info-box {
    border: 1px solid $Trinet-gray;
    margin-top: 13px;
  }
}

.arrow-up-border {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 13px solid #888888;
  position: absolute;
  z-index: 3;
  left: 42%;
}

.arrow-up-white {
  width: 0;
  height: 0;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-bottom: 12px solid #ffffff;
  position: absolute;
  z-index: 34;
  top: 1px;
  margin-left: 2px;
  left: 42%;
}

#companypoliciesId {
  .policies-data {
    position: relative;
    top: -55px;
  }
}

#acaMarketPlace {
  #printBenefitsData {
    span:last-child {
      font-size: 16px !important;
      color: #0073CF;
      font-weight: 400;
      position: relative;
      top: -2px;
    }
  }
}

#acaMarketPlace span, #acaMarketPlace ol li {
  font-size: 14px !important;
}

.benefit-policies-general {
  #printBenefitsData {
    .icon-icon_print_circle {
      top: 3px !important;
      padding-right: 5px;
      font-size: 25px !important;
    }
    .currprint {
      position: relative;
      top: -2px;
    }
  }
}
.employee-reports-blocks-adj{
.arrow-up-white{top: 3px;left: 42.2%;}
.arrow-up-border{top:1px;}
}
.color-grey{
    color:$Trinet-dark-gray !important;
}
.comp-pol{
 .title-block{
    &.active{
        &::after{
content:'';
width: 0;
height: 0;
border-left: 20px solid transparent;
border-right: 20px solid transparent;
border-bottom: 12px solid #f2f2f2;
position: absolute;
top: 68px;
left: 50%;
z-index: 999;
}
}
}
}
.companyFormsAdjust {
  .policies-info-box-tiles-adjustment {
    top: -55px !important;
  }
  #loadtabs {
    .title-block {
    &.active {
        &::after {
          content: '';
          border-left: 19px solid transparent;
          border-right: 19px solid transparent;
          border-bottom: 12px solid $White;
          position: absolute;
          left: 42%;
          top: 45%;
          z-index: 9999;
        }
        &::before {
          content: '';
          border-left: 20px solid transparent;
          border-right: 20px solid transparent;
          border-bottom: 12px solid $Trinet-gray;
          position: absolute;
          left: 42%;
          top: 44%;
          z-index: 999;
        }
  }
}
}
}
