<div id="personals">
    <div id="names" ng-hide="true" ng-include="'app/components/profile/personal/names/namesView.html'"></div>
    <div id="contactmethods" ng-hide="true" ng-include="'app/components/profile/personal/contactMethods/contactMethodsView.html'"></div>
    <div id="homeaddress" ng-hide="true" ng-include="'app/components/profile/personal/address/addressView.html'"></div>
    <div id="personalinfo" ng-hide="true" ng-include="'app/components/profile/personal/personalInfo/personalInfoView.html'"></div>
    <div id="personalstatus" ng-hide="true" ng-include="'app/components/profile/personal/personalStatus/personalStatusView.html'"></div>
    <div id="emergencycontact" ng-hide="true" ng-include="'app/components/profile/personal/emergencyContact/emergencyContactView.html'"></div>
</div>
